# =========================
# Python
# =========================
venv/
backend/venv/
__pycache__/
*.pyc

# Environment Variables
.env
.env.*
**/.env
backend/.env

# =========================
# Node / Next.js
# =========================
node_modules/
frontend/node_modules/

/.next/
frontend/.next/

/out/
/build/

next-env.d.ts
*.tsbuildinfo

# =========================
# Yarn / Pnpm
# =========================
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# =========================
# Testing
# =========================
coverage/

# =========================
# Vercel
# =========================
.vercel/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =========================
# Misc
# =========================
.DS_Store
Thumbs.db
*.pem

juman-gen-ai-project-69641e3c2ab7.json
juman-gen-ai-project-72c198b00d91.json
